/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: mnnu;
    src: url(fonts/GeneralSans-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: mnnu;
    cursor: none;
}

body,
html {
    height: 100%;
    width: 100%;
}

:root {
    --themecolor: black;
    --themebg: white;
}

body,
body a {
    background: var(--themebg);
    color: var(--themecolor);
}

.dark-mode,
.dark-mode a {
    background-color: black;
    color: white;
}

#minicircle {
    -webkit-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    -o-transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    height: 12px;
    width: 12px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    -webkit-backdrop-filter: invert(100%);
            backdrop-filter: invert(100%);
    background-color: rgba(0, 0, 0, 0);
}

#main {
    width: 100%;
    /* background-color: var(--themebg);  */
}

#hero {
    position: relative;
    /* color: var(--themecolor); */
    width: 100%;
    height: 100vh;
    /* background-color: var(--themebg); */
}

#nav {
    width: 100%;
    padding: 20px 40px;
    /* color: var(--themecolor); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#nav a {
    text-decoration: none;
    font-size: 20px;
    /* color: var(--themecolor); */
}

.acc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.acc a {
    padding: 0 10px;
    font-size: 16px !important;

}

.bounding {
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

}

.bounding .boundingelem {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

#heading {
    margin-top: 90px;

}

#heading h1 {
    margin-left: 30px;
    opacity: 0.8;
    line-height: 1;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #sh {
    margin-left: 200px;
}

.blocktext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

}

.blocktext h5 {
    text-align: right;
}

.chotiheadings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    padding-right: 50px;
}

.chotiheadings h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter {
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#herofooter a {
    /* color: var(--themecolor); */
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
}

#herofooter .circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #888;
}

#second {
    /* color: var(--themecolor); */
    padding-right: 10vw;
    padding-top: 200px;
    /* background-color: var(--themebg); */
    width: 100%;
    /* height: 130vh; */
}

.element {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 3.5vw 3vw;
    padding-right: 0;
    width: 100%;
    border-top: 1px solid #888;
}

.element h1 {
    text-transform: uppercase;
    font-size: 7vw;
    opacity: .7;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.element img {
    opacity: 0;
    height: 140%;
    position: absolute;
    z-index: 999;

}

#about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* color: var(--themecolor); */
    gap: 50px;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    /* background-color: var(--themebg) */
}

.textabout {
    width: 25rem;

}

.textabout h5 {
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

.textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 200px;
}

.textabout a {
    padding: 12px 22px;
    /* border: 1px solid var(--themecolor); */
    border-radius: 100px;
    /* color: var(--themecolor); */
    text-decoration: none;
    font-size: 12px;
}

#subscribe {
    /* background-color: var(--themebg); */
    padding: 20px 30px;
    /* color: var(--themecolor); */
    padding-bottom: 7vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer {
    /* background-color: var(--themebg); */
    /* color: var(--themecolor); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 30px;

}

#footerleft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;

}

#footerright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}

#footer a {
    text-decoration: none;
    /* color: var(--themecolor); */
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}





.card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.999s;
    transition: -webkit-transform 0.999s;
    -o-transition: transform 0.999s;
    transition: transform 0.999s;
    transition: transform 0.999s, -webkit-transform 0.999s;
}

.card:hover .card-inner {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card-front {
    background-color: #6a2c7000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 10px solid #6a2c7000;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.card-back {
    background-color: #41414136;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 10px solid #f0895d00;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card-back img {
    border-radius: 50% 50% 50% 0px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    cursor: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfdfd;
    -webkit-box-shadow: inset 2px 5px 15px rgba(184, 184, 184, 0.3);
            box-shadow: inset 2px 5px 15px rgba(184, 184, 184, 0.3);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 0.1em;
    border-radius: 0px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #171717;
    -webkit-box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
            box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
}

input:checked+.slider:before {
    -webkit-transform: translateX(2.8em) rotate(360deg);
        -ms-transform: translateX(2.8em) rotate(360deg);
            transform: translateX(2.8em) rotate(360deg);
    background: white;
}